* {
  margin:0;
  padding:0;
 }

body {
  background:url("../img/back.gif");
 }

div#container {
  position:relative;
  padding:0;
  margin-right:auto;
  margin-left:auto;
  width:960px;
  background:#ccf;
  min-height:100%;
  height:auto;
 }

div#header {
  background:url("../img/top.gif");
 }

div#header h1 {
  display:block;
  text-align:center;
  background:#0f0 url("../img/top.gif");
  height:80px;
  line-height:80px;
 }

div#navigation {
  padding:0;
  margin:0;
  background:#ccc;
 }

div#navigation ul {
  margin:0;
  padding:0;
  list-style-type:none;
 }

div#navigation ul li {
  float:left;
 }
 
div#navigation ul li a {
  text-align:center;
  display:block;
  width:240px;
  text-decoration:none;
  height:40px;
  line-height:40px;
  background:url("../img/CSSsplits.gif");
 }

div#navigation ul li a:hover {
  background:url("../img/CSSsplits.gif") bottom;
  color:#336;
 }

div#content {
  min-height:500px;
  height:auto;
  background:#000;
  padding-bottom:40px;
  color:#f00;
 }

div#content h2 {
  padding-bottom:50px;
 }

div#content a.photo img {
  display:block;
  float:left;
  width:150px;
  height;200px;
  color:#f00;
  background:#fff;
 }

div#content a#photo {
  margin-left:50px;
  display:block;
  width:500px;
  height:300px;
  background:url("../img/DSC00561.JPG") fixed;
 }

div#footer {
  position:absolute;
  bottom:0;
  width:100%;
  text-align:center;
  background:#003;
  color:#fff;
  height:40px;
  line-height:40px;
 }

